In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
df = pd.read_excel('../1. 데이터/2024예측데이터셋.xlsx')
df

      읍면동  자동차 등록 대수    인구수  횡단보도 개수  음식점 수  버스정류장 개수  음주 교통사고 건수
0    가덕도동       2908   4311        4     68        88        1.10
1     가락동       2131   2097       33     37        57        0.65
2    가야1동       4773  16411       14    159        13        5.65
3    가야2동       6211  17951        8    158        18        4.95
4    감만1동       5900   7958       14     42        40        1.48
..    ...        ...    ...      ...    ...       ...         ...
200  하단2동       8452  24861       21    445        41        6.44
201   학장동      12076  26053       34    194        63        9.48
202  화명1동      18430  39190       11    109        32       12.93
203  화명2동       6663  16808       11    115        50        5.32
204  화명3동      11681  28085       60    321        22        9.25

[205 rows x 7 columns]

In [15]:
df.isna().sum()

읍면동           0
자동차 등록 대수     0
인구수           0
횡단보도 개수       0
음식점 수         0
버스정류장 개수      0
음주 교통사고 건수    0
dtype: int64

In [18]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.preprocessing import StandardScaler

# 1. Load the saved XGBoost model
from joblib import load
xgb_loaded = load('../2. 모델/xgb_model.joblib')
print("Saved XGBoost model has been loaded.")

# 2. Load training data for scaler fitting (21-23 year data)
X_train = df[['자동차 등록 대수', '인구수', '횡단보도 개수', '음식점 수', '버스정류장 개수', '음주 교통사고 건수']]

# Fit StandardScaler to training data
scaler = StandardScaler()
scaler.fit(X_train)
print("StandardScaler has been fitted to training data.")

# 3. Load 2024 data for prediction
df = pd.read_excel('../1. 데이터/2024예측데이터셋.xlsx')

# 4. Prepare input features and scale them
X_2024 = df[['자동차 등록 대수', '인구수', '횡단보도 개수', '음식점 수', '버스정류장 개수', '음주 교통사고 건수']]
X_2024_scaled = scaler.transform(X_2024)

# 5. Predict y values using the loaded model
dmatrix_2024 = xgb.DMatrix(X_2024_scaled)  # Convert to DMatrix
y_2024_pred = xgb_loaded.predict(dmatrix_2024)

# 6. Add predictions to the DataFrame
df['예측 음주운전 적발 건수'] = y_2024_pred

# 7. Save the prediction results
df.to_csv('../4. 결과/24년도_예측결과xgb.csv', index=False, encoding='cp949')
print("Prediction results for 2024 have been saved to '4. 결과/24년도_예측결과xgb.csv'.")

Saved XGBoost model has been loaded.
StandardScaler has been fitted to training data.
Prediction results for 2024 have been saved to '4. 결과/24년도_예측결과xgb.csv'.