In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
data = pd.read_csv('./음주운전 건수 원본 데이터/경찰청_음주운전_2023.csv')

In [3]:
data.head()

   연번  성별  적발횟수  나이   알콜농도 측정거부             측정일시    관할경찰서
0   1  남자     1  31  0.136    N  2023-01-01 0:03  수원남부경찰서
1   2  남자     3  56  0.065    N  2023-01-01 0:04  일산동부경찰서
2   3  남자     1  34  0.094    N  2023-01-01 0:06  수원서부경찰서
3   4  남자     1  35  0.191    N  2023-01-01 0:10    분당경찰서
4   5  남자     1  28  0.043    N  2023-01-01 0:13  천안서북경찰서

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125231 entries, 0 to 125230
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   연번      125231 non-null  int64
 1   성별      125231 non-null  object
 2   적발횟수    125231 non-null  int64
 3   나이      125231 non-null  object
 4   알콜농도    125231 non-null  float64
 5   측정거부    125231 non-null  object
 6   측정일시    125231 non-null  object
 7   관할경찰서   125231 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 7.6+ MB

In [9]:
data['측정일시'] = pd.to_datetime(data['측정일시'])

In [11]:
data['월별'] = data['측정일시'].dt.to_period('M')

In [13]:
data.head()

   연번  성별  적발횟수  나이   알콜농도 측정거부                측정일시    관할경찰서       월별
0   1  남자     1  31  0.136    N 2023-01-01 00:03:00  수원남부경찰서  2023-01
1   2  남자     3  56  0.065    N 2023-01-01 00:04:00  일산동부경찰서  2023-01
2   3  남자     1  34  0.094    N 2023-01-01 00:06:00  수원서부경찰서  2023-01
3   4  남자     1  35  0.191    N 2023-01-01 00:10:00    분당경찰서  2023-01
4   5  남자     1  28  0.043    N 2023-01-01 00:13:00  천안서북경찰서  2023-01

In [15]:
df_busan = data[data['관할경찰서'].str.startswith('부산')]
df_busan.head()

    연번  성별  적발횟수  나이   알콜농도 측정거부                측정일시     관할경찰서       월별
11  12  남자     1  27  0.039    N 2023-01-01 00:38:00   부산남부경찰서  2023-01
13  14  여자     1  46  0.127    N 2023-01-01 00:40:00  부산해운대경찰서  2023-01
38  39  남자     1  33  0.102    N 2023-01-01 01:43:00   부산연제경찰서  2023-01
47  48  남자     2  34  0.108    N 2023-01-01 02:01:00   부산기장경찰서  2023-01
79  80  남자     2  40  0.106    N 2023-01-01 03:16:00   부산서부경찰서  2023-01

In [19]:
df_busan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5280 entries, 11 to 125201
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연번      5280 non-null   int64
 1   성별      5280 non-null   object
 2   적발횟수    5280 non-null   int64
 3   나이      5280 non-null   object
 4   알콜농도    5280 non-null   float64
 5   측정거부    5280 non-null   object
 6   측정일시    5280 non-null   datetime64[ns]
 7   관할경찰서   5280 non-null   object
 8   월별      5280 non-null   period[M]
dtypes: datetime64[ns](1), float64(1), int64(2), object(4), period[M](1)
memory usage: 412.5+ KB

In [112]:
monthly_counts = df_busan.groupby(['관할경찰서', '월별']).size()

In [114]:
pd.set_option('display.max_rows', None)
print(monthly_counts)

관할경찰서     월별
부산강서경찰서   2023-01    25
          2023-02    32
          2023-03    40
          2023-04    38
          2023-05    32
          2023-06    38
          2023-07    32
          2023-08    41
          2023-09    26
          2023-10    38
          2023-11    41
          2023-12    38
부산광역시경찰청  2023-05     1
          2023-09     1
부산금정경찰서   2023-01    32
          2023-02    41
          2023-03    37
          2023-04    34
          2023-05    47
          2023-06    38
          2023-07    41
          2023-08    30
          2023-09    49
          2023-10    36
          2023-11    37
          2023-12    36
부산기장경찰서   2023-01    31
          2023-02    38
          2023-03    52
          2023-04    52
          2023-05    53
          2023-06    56
          2023-07    52
          2023-08    40
          2023-09    47
          2023-10    50
          2023-11    26
          2023-12    38
부산남부경찰서   2023-01    24
          2023-02    25
          2023-03    35
          2023-04    54
          2023-05    52
          2023-06    48
          2023-07    56
          2023-08    39
          2023-09    50
          2023-10    44
          2023-11    40
          2023-12    49
부산동래경찰서   2023-01    20
          2023-02    21
          2023-03    17
          2023-04    24
          2023-05    32
          2023-06    29
          2023-07    32
          2023-08    29
          2023-09    17
          2023-10    20
          2023-11    20
          2023-12    34
부산동부경찰서   2023-01    12
          2023-02    10
          2023-03    12
          2023-04     9
          2023-05     9
          2023-06    11
          2023-07    15
          2023-08     4
          2023-09    10
          2023-10     9
          2023-11     7
          2023-12    14
부산북부경찰서   2023-01    17
          2023-02    18
          2023-03    20
          2023-04    22
          2023-05    25
          2023-06    26
          2023-07    32
          2023-08    23
          2023-09    30
          2023-10    23
          2023-11    21
          2023-12    23
부산사상경찰서   2023-01    24
          2023-02    28
          2023-03    46
          2023-04    40
          2023-05    30
          2023-06    49
          2023-07    37
          2023-08    35
          2023-09    41
          2023-10    32
          2023-11    29
          2023-12    39
부산사하경찰서   2023-01    26
          2023-02    21
          2023-03    32
          2023-04    36
          2023-05    33
          2023-06    22
          2023-07    36
          2023-08    32
          2023-09    32
          2023-10    29
          2023-11    32
          2023-12    32
부산서부경찰서   2023-01     8
          2023-02     9
          2023-03    22
          2023-04    35
          2023-05    22
          2023-06    14
          2023-07     9
          2023-08    17
          2023-09     9
          2023-10    10
          2023-11     7
          2023-12    12
부산연제경찰서   2023-01    23
          2023-02    25
          2023-03    28
          2023-04    29
          2023-05    19
          2023-06    19
          2023-07    31
          2023-08    31
          2023-09    27
          2023-10    24
          2023-11    23
          2023-12    24
부산영도경찰서   2023-01    12
          2023-02     9
          2023-03    18
          2023-04    18
          2023-05    15
          2023-06    27
          2023-07    27
          2023-08    23
          2023-09    17
          2023-10    30
          2023-11    14
          2023-12    14
부산중부경찰서   2023-01     5
          2023-02     5
          2023-03     5
          2023-04    18
          2023-05    12
          2023-06    14
          2023-07     6
          2023-08     6
          2023-09    11
          2023-10     7
          2023-11     6
          2023-12     9
부산진경찰서    2023-01    38
          2023-02    47
          2023-03    42
          2023-04    49
          2023-05    55
          2023-06    44
          2023-07    47
          2023-08    31
          2023-09    49
          2023-10    40
          2023-11    36
          2023-12    52
부산해운대경찰서  2023-01    43
          2023-02    57
          2023-03    50
          2023-04    44
          2023-05    39
          2023-06    41
          2023-07    42
          2023-08    36
          2023-09    45
          2023-10    35
          2023-11    55
          2023-12    36
dtype: int64